#!/usr/bin/env xdg-open

[Desktop Entry]
Comment=
Exec=/home/gmateus/.local/comandos/add_printer1.sh
Icon=/home/gmateus/.icons/printer.png
Terminal=true
Type=Application
X-Deepin-Vendor=user-custom
Name[pt_BR]=ADD Impressora
