[Desktop Entry]
Name=Email
Exec=firefox https://email.grupomateus.com.br/
Icon=/home/gmateus/.icons/email.png
Terminal=false
Type=Application
StartupNotify=true
Categories=GTK;Settings;HardwareSettings;X-Cinnamon-Settings-Panel;
OnlyShowIn=X-Cinnamon;
X-Cinnamon-Settings-Panel=network
