#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GMCORE 6.36
Exec=rdesktop -u ts -p ts ts.mateus -g 1925x1010 -T GMCORE
Comment=
Terminal=false
Icon=/home/gmateus/.icons/6.36.png
Type=Application
