#!/usr/bin/env xdg-open
[Desktop Entry]
Name=GMCore 29
Exec=rdesktop 192.168.6.36 -g 1925x1010
Comment=
Terminal=false
Icon=cinnamon-panel-launcher
Type=Application
