[Desktop Entry]
Comment=
Exec=/home/gmateus/.local/comandos/ip.sh
Icon=/home/gmateus/.icons/ip.png
Name=MEU IP
Terminal=false
Type=Application
X-Deepin-Vendor=user-custom
