#!/usr/bin/env xdg-open

[Desktop Entry]
Name=6.126
Exec=rdesktop -u ts -p ts ts.mateus -g 1925x1010 -T GMCORE
Comment=
Terminal=false
Icon=/home/gmateus/.icons/tsrdesk.png
Type=Application
Name[pt_BR]=RDESKTOP
