[Desktop Entry]
Version=1.0
Name=E-Mail
Comment=Aplicativo Web
Exec=sh -c 'XAPP_FORCE_GTKWINDOW_ICON="webapp-manager" firefox --class WebApp-EMail2333 --profile /home/gmateus/.local/share/ice/firefox/EMail2333 --no-remote "https://email.grupomateus.com.br/"'
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=email
Categories=GTK;WebApps;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-EMail2333
StartupNotify=true
X-WebApp-Browser=Firefox
X-WebApp-URL=https://email.grupomateus.com.br/
X-WebApp-CustomParameters=
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true
