#!/usr/bin/env xdg-open
[Desktop Entry]
Exec=rdesktop 192.168.6.29 -g 400x600
Comment=
Terminal=false
Icon=/home/gmateus/.icons/wmsrdesk.png
Type=Application
Name[pt_BR]=WMS
